body {
  background-color: #fff3e0;
}

.center{
  text-align: center;
}

.new-margins{
  margin: auto;
}

.photoPreview {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
};

.fridge-face {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#foodCards {
  width: 80%;
  margin: 0 auto;
  height: 500px;
};

#announcementsDiv {
  float:left;
  display:inline-block;
  background-color: white;
  border-radius: 5%;
}

.dropdown-item {
  color: orange !important;
}
