body {
  background-color: #F2F2F2;
}

h4 {
  font-size: 24px;
}
.center{
  text-align: center;
}

.new-margins{
  margin: auto;
}

.photoPreview {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  overflow: hidden;
};

.fridge-face {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.full-width {
  width: 100%;
}


.top-padding{
  padding-top: 20px
}

.bottom-padding{
  padding-bottom: 20px;
}

#foodCards {
  width: 80%;
  margin: 0 auto;
  height: 500px;
};

#announcementsDiv {
  float:left;
  display:inline-block;
  background-color: white;
  border-radius: 5%;
}


.dropdown-item {
  color: #E10D49 !important;
}

.section-header {
  /*font-weight: ;*/
  background-color:#4E4E4E;
  color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.full-width {
  background-color:#B4EDD8;
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.newsticker{
  font-weight: bold;
  font-size: 18px;
}

.text-black{
  color:#4E4E4E !important;


/*#foodCards {
  background-color:#B4EDD8;
  min-height: 300px;
}*/

/*.mint-green{
  background-color:#B4EDD8;
  /*min-height: 100px;
}*/
/*
.white-gap{
  min-height: 30px;
}*/

.margin-none{
  margin-bottom: 0;
}

.fridge-face {
  background-color:#74CFAE;
}

.nav-options {
  color: #4E4E4E !important;
}
