body {
  background-color: #fff3e0;
}

.center{
  text-align: center;
}

.new-margins{
  margin: auto;
}

.photoPreview {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
};


#foodCards {
  width: 80%;
  margin: 0 auto;
  height: 500px;
};

#announcementRow {
  float:left;
  display:inline-block;
}
